pose_classification/old_scenes_cloudcompare/
pose_classification/scenes_cloudcompare
pose_classification/data/modelnet40_normal_resampled_default
pose_classification/data/modelnet40_normal_resampled/bed
pose_classification/data/modelnet40_normal_resampled/chair
pose_classification/data/modelnet40_normal_resampled/chair_human_halfway_up
pose_classification/data/modelnet40_normal_resampled/chair_human_sitting_down
pose_classification/data/modelnet40_normal_resampled/chair_human_standing_up
pose_classification/data/modelnet40_normal_resampled/chair_human_standing_up_grabbing_walker
pose_classification/data/modelnet40_normal_resampled/desk
pose_classification/data/modelnet40_normal_resampled/dresser
pose_classification/data/modelnet40_normal_resampled/monitor
pose_classification/data/modelnet40_normal_resampled/night_stand
pose_classification/data/modelnet40_normal_resampled/sofa
pose_classification/data/modelnet40_normal_resampled/table
pose_classification/data/modelnet40_normal_resampled/toilet